body {
  background-color: #181922;
}
.div0 {
  display: flex;
  justify-content: flex-end;
  margin-right: 0px;
  margin-top: 35px;
}

.div1 {
    font-size: 40px;
    width: 95%;
    height: 660px;
    font-family: Marker Felt, fantasy;
    position:absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 10px;
    margin-top: 10px;
  }

  .div2 {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .div3 {
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .div4 {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .div5 {
    position: relative;
    border-radius: 10px;
    font-size: 30px;
    width: 340px;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 25px;
    margin-bottom: 30px;
  }

  .div6 {
    margin-top: 80px;
  }

  .div7 {
    padding-top: 10px;
    font-size: 30px;
    display:grid;
    place-items: center;
  }

  .div8 {
    position: relative;
    border-radius: 10px;
    font-size: 30px;
    width: 350px;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 25px;
    margin-bottom: 30px;
  }

  .div9 {
    position: relative;
    border-radius: 10px;
    font-size: 30px;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-bottom: 22px;
    padding-bottom: 15px;
    margin-top: 68px;
  }

  .testdiv {
    font-size: 100px;
    text-align: center;
    padding-top: 200px;
    font-family: Impact, fantasy;
    color: rgb(0, 0, 0);

  }

  .p1 {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .p3 {
    font-size: 40px;
    margin-left: auto;
    background-color: rgba(148, 148, 148, 0.492);
    margin-right: auto;
    width: 260px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .p2 {
    font-size: 22px;
    color: white;
  }

  .p2 {
    margin-top: -20px;
    margin-bottom: 8px;
    padding-top: 30px;
    margin-right: 10px;
    text-align: center;
  }
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 50px;
  }

  .form1 {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    color: white;
  }

  .input1 {
    font-size: 20px;
    width: 340px;
    text-align: center;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: black;
    border-style: groove;
  }

  .input2 {
    font-size: 27px;
    width: 130px;
    text-align: center;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: black;
    border-style: groove;
    position: relative;
    top: -4px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .input3 {
    font-size: 20px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: black;
    border-style: groove;
  }

  .input4 {
    font-size: 20px;
    width: 337px;
    text-align: center;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: black;
    border-style: groove;
    margin-top: 40px;
  }

  .input5 {
    font-size: 20px;
    width: 169px;
    text-align: center;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: black;
    border-style: groove;
    margin-top: 40px;
  }

  .aika1 {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
  }

  .aikavalitsin {
    font-size: 22px;
  }

  .nappi1 {
    position: absolute;
    right: 10px;
    top: 11px;
    color: #d3d3d3;
    font-size: 13px;
    border-radius: 7px;
    background-color: #404040;
    cursor: pointer;
    transition: background-color 0.3s, color 0.2s;
    font-weight: 600;
  }

  .nappi1:hover {
    position: absolute;
    right: 10px;
    top: 11px;
    color: #ffffff;
    font-size: 13px;
    border-radius: 7px;
    background-color: #afafaf79;
  }

  .nappi2 {
    color: #d3d3d3;
    font-size: 17px;
    border-radius: 10px;
    background-color: #404040;
    cursor: pointer;
    transition: background-color 0.3s, color 0.2s;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }

  .nappi2:hover {
    color: #ffffff;
    font-size: 17px;
    border-radius: 10px;
    background-color: #afafaf79;
  }

  .table {
    font-size: 20px;
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
  }

  .tr1 {
    font-weight: 600;
  }
  
  .table th,
  .table td {
    border: 1px solid white;
    padding: 6px;
    text-align: center;
    text-align: center;
    font-family: "Arial", sans-serif;
  }
  
  .table th {
    color: white;
  }


.button-74 {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Impact, fantasy;
  font-size: 29px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.button-74:after {
  background-image: linear-gradient(
    -225deg,
    #a9a9a9 0%,
    #494949 29%,
    #727272 67%,
    #bebebe 100%
  );
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .1s ease-out;
  z-index: -1;

}

.button-74:hover:after {
  transform: translate(0, 0);
}

.button-74:active {
  background-color: #8c8c8c;
  border-radius: 8px;
  outline: 0;
}

.button-74:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-74 {
    padding: 0 40px;
  }
}

.b1
{
   background-image: linear-gradient(
     -225deg,
     #3700fd 0%,
     #3e73e6 29%,
     #4e6dd1 67%,
     #7DF9FF 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 4s linear infinite;
   display: inline-block;
       font-size: 40px;
 }
 

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

nav {
  background-color: #1c202b;
  padding: 14px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 0.5px solid rgb(115, 115, 115);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 5px;
}

nav a {
  text-decoration: none;
  color: #404040;
  padding: 5px 8px;
  transition: background-color 0.3s, color 0.2s;
  font-family: Marker Felt, fantasy;
  border-radius: 6px;

}

nav a:hover {
  background-color: #464646;
  color: #fff;
}

.navbar a.active {
  background-color: #333;
  color: #fff;
}

.lever-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #d9d9d9;
}

.lever-switch::after {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
}

.lever-switch input {
  display: none;
}

.lever-switch .lever {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #414141;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  background-color: rgb(41, 168, 2);
}

.lever-switch input:checked + .lever {
  transform: translateX(30px);
  background-color: rgb(168, 2, 2);
}